    <!-- {{board}} -->
    <!-- <div class="board">
        {% for line in board %}
            <div class="line">
                {% for cell in line %}
                    <div class="cell bg-{{cell.color}}">
                        
                        {% if cell.figure %}
                            <img class="figure-image" src="/static/game/images/{{cell.figure}}.png" alt="">
                        {% endif %}
                            
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div> -->
    <!-- <form action="{% url 'move'  %}" method="post">
        {% csrf_token %}
        <input type="text" name="from_x">
        <input type="text" name="from_y">
        <input type="text" name="to_x">
        <input type="text" name="to_y">
    </form> -->